@import "colors";


.navbar-toggler {
  margin-right: 10%;
}


.navbar-toggler.collapsed {
  margin-right: 0;
}

.bg-primary.header {
  margin-top: 0px;

  div {
    padding: 156px 0 100px;
  }
}

.header {
  background-image: url("../images/header.png");
  width: 100%;
  height: auto;

  video {
    width: 100%;
  }
  i {
    font-size: 100px;
  }

  i #text {
    display: none;
  }
}

.bg-dark {
background-color: $white !important;
}

//Responsive
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .bg-dark {
    background-color: $white !important;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: $grey;
    transition: 0.2s;

    &:hover {
      color: $main_color;
      cursor: pointer;
    }
  }

  button {
    margin-top: 50px;
  }

}
