@charset "UTF-8";
.navbar-toggler {
  margin-right: 10%;
}

.bg-primary.header {
  margin-top: 0;
}
.bg-primary.header div {
  padding: 156px 0 100px;
}

.header {
  background-image: url("../images/header-1.jpg");
  background-position: center;
  width: 100%;
}
.header video {
  width: 100%;
}
.header i {
  font-size: 100px;
}
.header i #text {
  display: none;
}

.bg-dark {
  background-color: #fff !important;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .bg-dark {
    background-color: #fff !important;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #4F4F4F;
    transition: 0.2s;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #20A2EC;
    cursor: pointer;
  }

  button {
    margin-top: 50px;
  }
}
* {
  font-family: Roboto, sans-serif;
}

.btn-primary {
  background-color: #20A2EC;
  border-color: #20A2EC;
}

h1 {
  font-size: 4.083vw;
  font-style: normal;
  font-weight: normal;
  line-height: 139.69%;
  text-transform: uppercase;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 3.823vw;
  line-height: 41px;
  color: #20A2EC;
  text-transform: uppercase;
}

h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 3.202vw;
  line-height: 29px;
}

a {
  font-style: normal;
  font-weight: 500;
  font-size: 3.4vw;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 3.4vw;
  line-height: 25px;
}

li {
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 3.3vw;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  list-style-type: none;
  /* identical to box height */
}

button, .btn-secondary {
  background: transparent;
  padding: 13px 31px;
  border: 2px solid #fff;
  border-radius: 25px;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3vw;
  line-height: 16px;
  transition: 0.2s;
}
button:hover, .btn-secondary:hover {
  border-color: #F2F2F2;
  color: #20A2EC;
  background-color: #F2F2F2;
}

.btn-secondary:hover {
  background-color: transparent;
}

.dropdown-toggle {
  border: none;
}

@media (min-width: 576px) {
  h1 {
    font-size: 6.667vw;
  }

  h2 {
    font-size: 5.833vw;
  }

  h3 {
    font-size: 4.167vw;
  }

  a {
    font-size: 3vw;
  }

  p {
    font-size: 3vw;
  }

  li {
    font-size: 4.167vw;
  }

  button, .btn-secondary {
    font-size: 2.333vw;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.083vw;
  }

  h2 {
    font-size: 2.823vw;
  }

  h3 {
    font-size: 2.5vw;
  }

  a {
    font-size: 1.5vw;
  }

  p {
    font-size: 1.5vw;
  }

  li {
    font-size: 1.5vw;
  }

  button, .btn-secondary {
    font-size: 1.729vw;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.2vw;
  }

  h2 {
    font-size: 2vw;
    margin-bottom: 10%;
  }

  h3 {
    font-size: 1.3vw;
  }

  a {
    font-size: 0.9vw;
  }

  p {
    font-size: 0.9vw;
  }

  li {
    font-size: 0.9vw;
  }

  button, .btn-secondary {
    font-size: 1vw;
  }
}
body {
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

section {
  padding: 70px auto;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.container {
  text-align: center;
}

.container-fluid {
  padding: 0;
}

.bg-primary {
  background-color: #20A2EC !important;
  color: white;
}

#about, #functions {
  padding: 70px auto;
  margin: 50px auto;
}

section ul {
  padding-left: 0;
  text-align: left;
}
section ul li:before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 5%;
  vertical-align: middle;
  font-weight: 900;
  color: #20A2EC;
  content: "";
}
section .bg-primary li:before {
  color: #fff;
}

.btn button {
  background-color: #20A2EC;
  color: #fff;
}
.btn button:hover {
  background-color: #fff;
  color: #20A2EC;
}

#about .show i {
  padding-right: 25%;
  color: #20A2EC;
}
#about .show i:before {
  color: #086295;
}
#about .dropdown-item {
  color: #20A2EC;
}
#about .dropdown-item:hover {
  background-color: #20A2EC;
  color: #fff;
}
#about .dropdown-item:hover i {
  color: #fff;
}

.services-icon {
  border-radius: 100px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  height: auto;
  width: max-content;
  padding: 40px;
  margin: auto;
  margin-bottom: 50px;
}
.services-icon img {
  width: auto;
}

.services-header {
  margin-bottom: 200px;
  background-color: #fff;
}

.case-study {
  top: -100px;
  margin-bottom: 40px;
}
.case-study h1 {
  font-size: 80px;
  color: #1483C1;
  text-shadow: 2px 2px 5px #1483C1;
}

#services .container-fluid {
  text-align: center;
}
#services .container-fluid button, #services .container-fluid .btn-secondary {
  transition: 0.2s;
}
#services .container-fluid button:hover, #services .container-fluid .btn-secondary:hover {
  background-color: #fff;
  color: #20A2EC;
  border: 2px solid #fff;
}
#services .container-fluid a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
#services .container-fluid i {
  margin-left: 15px;
}
#services .container-fluid .buttons {
  margin-bottom: 50px;
}
#services .container-fluid .buttons button {
  margin-bottom: 25px;
}

#functions p {
  color: #20A2EC;
}
#functions li {
  font-weight: 300;
}

#logos .container-fluid {
  background-color: #e0f3ff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .btn {
  background-color: #20A2EC;
  border-radius: 100px;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
}
.footer .footer-info {
  background-image: url("../images/dialog-01.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
}
.footer h3 {
  padding: 60px 0;
  margin: 60px 0;
  color: #20A2EC;
  text-transform: uppercase;
}
.footer a {
  line-height: 40px;
  text-decoration: none;
  cursor: pointer;
}

.footer-bottom {
  background-color: #086295;
  height: 100px;
  margin-top: 100px;
}

.nav-cities {
  position: fixed;
  top: 40%;
  left: 0;
  z-index: 5;
  background-color: #086295;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.nav-cities a {
  transition: 0.2s;
  color: #fff;
  display: block;
  padding: 10px 10px;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}
.nav-cities a:last-child {
  border-bottom: unset;
}
.nav-cities a:hover {
  padding: 20px 10px;
}

#how-it-works #myBtnPlay, #how-it-works #myBtnPause {
  transition: 0.2s;
}

#services {
  padding-top: 150px;
}

.duk-list li:before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  padding-right: 5%;
  font-weight: 900;
  color: #20A2EC;
  content: "";
}
.duk-list li p {
  color: #828282;
}

.duk-list-item {
  border-bottom: 2px solid #F2F2F2;
}
@media (min-width: 768px) {
  .duk-list-item h3 {
    font-size: 2vw;
    font-weight: 500;
  }
  .duk-list-item p {
    font-size: 1.8vw;
  }
}

.list-group p {
  font-weight: 400;
}

.bg-white {
  color: #4F4F4F;
}
.bg-white li:before {
  color: #20A2EC;
}

.articles {
  background-image: url("../images/people_bg.png");
  background-position: center;
  /* Center the image */
  background-repeat: repeat-x;
  background-size: auto 100%;
}
.articles h1 {
  color: #20A2EC;
}
.articles img {
  width: 30%;
  height: auto;
}
.articles p {
  color: #4F4F4F;
}
.articles .bg-info {
  background-color: #fff !important;
  border-radius: 20px;
  -moz-box-shadow: 3px 3px 5px 6px #999999;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}

/*tooltip inner*/
.popover {
  background-color: #20A2EC;
  color: #fff;
  border-radius: 0;
}
.popover .popover-header {
  background-color: #20A2EC;
  border-bottom: unset;
}
.popover .popover-body {
  color: #fff;
}
.popover .arrow {
  left: 50%;
}
.popover .arrow:before {
  border-bottom-color: #20A2EC;
  border-top-color: #20A2EC;
}
.popover .arrow:after {
  border-bottom-color: #20A2EC;
  border-top-color: #20A2EC;
}

@media (min-width: 992px) {
  .popover {
    max-width: 25%;
  }

  .bg-primary.how-it-works {
    border-radius: 200px;
  }
}
.mobile:before, .location:before, .website:before {
  font-family: "Font Awesome 5 Free";
  padding-right: 5%;
  vertical-align: middle;
  font-weight: 900;
  color: #20A2EC;
  content: "";
}

.location:before {
  content: "";
}

.website:before {
  content: "";
}

.text-primary {
  color: #20A2EC;
}

.border-primary {
  border-color: #20A2EC;
}

button .border-primary {
  transition: 0.2s;
}

button .border-primary:hover {
  color: #fff;
  background-color: #20A2EC;
}

.dropdown-toggle {
  color: #20A2EC;
}

.fa-bars {
  color: #20A2EC;
}

.fa-play-circle {
  width: 100%;
  height: auto;
}

#navbarResponsive a {
  color: #4F4F4F;
}
#navbarResponsive a:hover {
  color: #20A2EC;
}

.fa-question-circle {
  color: #20A2EC;
  opacity: 0.5;
}

.position-absolute {
  z-index: 100;
}

@media (min-width: 768px) {
  .position-absolute {
    top: 30%;
    right: 0;
  }
}
@media (min-width: 1200px) {
  .position-absolute {
    top: 20%;
    right: 20%;
  }
}
.carousel-item {
  margin-top: 90px;
  margin-bottom: 90px;
}

/*# sourceMappingURL=style.css.map */
